/*Geral */
*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial;
    /*box-sizing para os inputs nao sobreporem as larguras das divs pai*/
    box-sizing: border-box;
}

h1,h2,h3{
    color: #333;
}

p{
    color: #70747a;
}

/*navbar*/
.navbar-container{
    width: 100%;
    height: 80px;
    background-color: #232a31;
    /*o padding dessa maneira faz com que não tenha espaçamento acima ou abaixo, mas cria uma área de respiro para as laterais*/
    padding: 0 2rem;
}


nav{
    position: relative;
}

.logo{
    width: 50px;
    margin-top: 15px;
    border-radius: 35%;
}

/*configuracao da lista puxando UL*/

.navbar-items{
    position: absolute;
    right: 0;
    height: 80px;
    line-height: 80px;
    margin: 0;
    display: inline-block;
}

/*configuracao das li separadas*/

.navbar-items li{
    display: inline-block;
    text-transform: uppercase;
    margin-left: 25px;
}


.navbar-items a {
    text-decoration: none;
    color: white;
    /*deixa o hover suave*/
    transition: 0.6s;
}

.navbar-items a:hover{
    color: #CCC;
}

.default-btn{
    padding: 15px 20px;
    background-color: #2cc76a;
    border-radius: 7px;
}

.navbar-items .default-btn:hover{
    background-color: #20ab57;
    color: #FFF;
}


/*main banner - a foto com o destaque do site*/
.main-banner{
    /*a propriedade background-image faz a imagem ficar dentro do tamanho da div/main (ou elemento pai que for inserido)*/
    background-image: url(https://github.com/matheuspomoviski/Paginas-criadas-curso-udemy-HTML-CSS-JS-REACT/blob/main/HDC_HOST/img/bg-top.jpg);
    background-position: center;
    background-size: cover;
    padding: 15rem 0;
}

/*O uso da classe mais elemento na frente permite a estilização apenas para aquele item*/

.main-banner h1,
.main-banner p{
    color: #FFF;
    text-align: center;
    font-weight: bold;
    text-shadow: #000000b5 3px 2px 2px;
}

.main-banner h1{
    font-size: 54px;
}

.main-banner p{
    margin-top: 10px;
    font-size: 26px;
}

/*Serviços*/

/*Definição do tamanho e dimensao do bloco*/
.services-container{
    padding: 5rem 0;

}

/* tamanho do bloco inteiro  */
.services-container ul{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.services-container li{
    /* parametro 1 - grow 1 - shrink 200px - base do elemento */
    flex: 1 1 200px;
    list-style: none;
    /* Declarado os parametros para li aplica no geral em todo item da lista */
    text-align: center;
    padding: 20px;
}

.fas{
    font-size: 50px;
    margin-bottom: 20px;
}

.fa-shield-alt{
    color: #2cc76a;
}
.fa-rocket{
    color: #ef3f29;
}
.fa-comments{
    color: #ef8f29;
}

.services-container h3{
    margin-bottom: 25px;
}

.services-container p{
    line-height: 30px;
}

/*estilização das listas*/

/*por padrao do html, as divs com ul virão todas em sequencia*/

/*container e titulo*/

.price-container{
    /*afastamento da próxima seção*/
    padding-bottom: 5rem;
    text-align: center;
}

.price-container h2{
    font-size: 32px;
}

/*listas e paragrafos*/
.price-container p{
    font-size: 20px;
}

.plans-container{
    /*display flex permite os itens serem trocados no alinhamento*/
    display: flex;
    /*justify-content pega as divs da div pai e os alinha conforme o parametro, nesse caso no espaco entre eles */
    justify-content: space-between;
    width: 90%;
    /* margin de 50px acima, automatico aos lados e 0 abaixo*/
    margin: 50px auto 0;
}

/*divs com os planos*/

.plans{
    /*todos os planos ficam com o mesmo tamanho na proporcao*/
    flex: 1;
    max-width: 275px;
    margin: 0 20px;
}

.plans ul{
    padding: 0;
}

.plans li{
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #e8e9ea;
    color: #333;
}

.plans .price{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #2cc762;
    line-height: 110px;
    text-align: center;
    color: #FFF;
    margin: 0 auto -50px;
    font-size: 16px;
    position: relative;
}

/*nome dos planos e botao*/

.plans .plans-name{
    text-transform: uppercase;
    color: #FFF;
    font-size: 20px;
    font-weight: bolder;
    background-color: #202b34;
    padding: 50px 0;
}

.plans .price-btn{
    background-color: #2cc762;
    color: #FFF;
    font-size: 24px;
    line-height: 75px;
    height: 75px;
    cursor: pointer;
}

/*Plano recomendado*/

.plans .recomendado{
    background-color: #b87227;
}

/* Secao do input para busca de dominio */
.procure-dominio{
    background-color: #34454e;
    text-align: center;
    padding: 5rem 0;
}

.procure-dominio h2{
    color: #FFF;
    font-size: 42px;
    margin-bottom: 15px;
}

.procure-dominio p{
    color: #D5D5D5;
    font-size: 24px;
    margin-bottom: 10px;
}

.procure-dominio input{
    display: block;
    border: none;
    border-radius: 6px;
    margin: 0 auto;
}

.procure-dominio input[type="text"]{
    width: 60%;
    padding: 20px;
    font-size: 20px;
    margin-bottom: 20px;
}

.procure-dominio input[type="submit"]{
    background-color: #27c767;
    padding: 15px 30px;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
    opacity: 0.85;
}
.procure-dominio input[type="submit"]:hover{
     opacity: 1;
}

/* secao para o envio de mensagem */
.contato-container{
    text-align: center;
    padding: 5rem 0 2rem 0;
}
.contato-container h2{
    font-size: 36px;
    margin-bottom: 10px;
}
.contato-container p{
    font-size: 18px;
    margin-bottom: 50px;
}

.contato-container input, .contato-container textarea{
    width: 200px;
    padding: 10px 25px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #CCC;
    margin: 0 10px 20px;
}

.contato-container textarea{
    display: block;
    margin: 0 auto 20px;
    width: 470px;
    height: 150px;
}
.contato-container input[type="submit"]{
    display: block;
    margin: 0 auto;
    color: #FFF;
    background-color: #2cc76a;
    cursor: pointer;
}

/* footer */
footer{
    text-align: center;
    font-weight: bold;
    margin: 40px 0 100px;
}

/* responsividade */
@media (max-width: 1100px){
    .plans-container{
        width: 95%;
    }
    .plans{
        margin: 0 5px;
    }
}
/* tablets 900px */
@media(max-width: 900px){
    .main-banner p{
        font-size: 20px;
        padding: 0 6 rem;

    }
    .procure-dominio{
        padding: 2rem 4rem;
    }
    .procure-dominio h2{
        font-size: 36px;
    }
}
/* celulares */

@media(max-width: 576px){
    /* isso fará os planos serem exibidos um abaixo do outro */
    html, body{
        overflow-x: hidden;
    }
    .navbar-items{
        font-size: 8px;
        margin-left: 8px;
    }
    .logo{
        width: 30px;
        margin-top: 20px;
    }

    .services-container ul{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .main-banner p{
        font-size: 18px;
        padding: 0 2rem;

    }

    .plans-container{
        flex-direction: column;
        width: 100%;
        padding: 0 2rem;
        margin-bottom: 15px;
    }
    .plans{
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .contato-container{
        padding: 3rem 2rem;
    }
    .contato-container input, .contato-container textarea{
        width: 100%;
        margin: 10px 0;
    }
    .procure-dominio h2{
        font-size: 24px;
    }
    .procure-dominio p{
        font-size: 18px;
    }
    .procure-dominio input[type="text"]{
        width: 100%;
        font-size: 15px;
    }
    .procure-dominio input[type="submit"]{
        font-size: 12px;
    }
}
